<h1>Products</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Title</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    {% for product in collections.all.products %}
      <tr>
        <td>{{product.id}}</td>
        <td>
          <img src="{% if product.images.size > 0 %}{{ product.images.first | product_img_url: 'master' }}{% else %}{{ 'image__empty.png' | asset_url }}{% endif %}" alt="{{ product.title | escape }}" class="product-image">
        </td>
        <td>
          <a href="{{ product.url | within: collection }}">
            {{product.title}}
          </a>
          <td>{{product.created_at}}</td>
      </tr>
    {% endfor%}
  </tbody>
</table>
<style type = "text/css" scoped>
  body{
    overflow: auto;
  }
  header{
    position: relative;
  }
  img.product-image { width: 100px; } 
</style>