<h1>Products</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Title</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    {% for product in collections.all.products %}
      <tr>
        <td>{{product.id}}</td>
        <td><%= image_tag {{product.image.src}}, class: 'product-image' %></td>
        <td><%= link_to {{product.title}}, {{product.url}}, target: "_top" %></td>
         <td>{{product.created_at}}</td>
      </tr>
    {% endfor%}
  </tbody>
</table>