%h1 Place Bulk Order
- products = []
= form_tag('/bulk_order', method: :post, turboboost: true ) do
  .row
    .col-xs-20
      .col-md-1
      .col-md-3.center
        %strong Locations
        = link_to '' , '/get_distributors' , class: 'btn glyphicon glyphicon-plus btn-primary'
        %strong Product
        = link_to '' , products_url , class: 'btn glyphicon glyphicon-plus btn-primary'
      .col-md-7
        %strong Total Products
        .btn.glyphicon.btn-primary.total-products
          0
        %strong Total Amount
        .btn.glyphicon.btn-primary.total-amount
          0
        %strong Shipping   